body {
  @@ -81,34 +82,24 @@;
}

header {
  position: relative;
  background-color: palevioletred;
  padding: 10px;
  text-align: center;
  color: white;
  font-size:xx-large;
  font-family:Arial, Helvetica, sans-serif
}

img {
  width: 35%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

nav ul {
  background-color: plum;
  overflow: auto;
  color: white;
  background-color: plum;
  padding: 0;
  text-align: center;
  margin: 0;
  text-align: center;
  list-style-type: none;
}

nav li {
  color: paleturquoise;
  background-color: paleturquoise;
}

nav a {
  display: inline-block;
  width: 33.3%;
  padding: 12px 24px;
  padding: 10px 20px;
  color:black;
  text-decoration: none;
}

main {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  margin: 15px;
}

h2,
h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

footer {
  background-color: #333;
  background-color: palevioletred;
  border: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
